/* General styles start */
body {
  font-family: "Roboto", sans-serif;
  color: #2c2c2c;
  background-color: #ffffff;
  font-size: 16px;
}
:root {
  --backgraund: #fefefe;
  --main-text: #2c2c2c;
  --apple-green: #bbf330;
  --apple-yellow: #e3f330;
  --light-green: #7eb101;
  --black:#000;
}
.container {
}
/* General styles end */
@media screen and (max-width: 767px) {
  /* Header start */
  .header-styles {
    max-width: 320px;
    flex-shrink: 0;
    background: #fefefe;
    box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.1);
  }
  .header-logo-div {
    display: flex;
  }
  .header-nav {
    display: flex;
    flex-grow: 1;
  }
  .header-logo-link {
    padding: 10px 0 10px 20px;
  }
  .header-logo {
  }
  .menu-button {
    display: flex;
    border: none;
    background-color: transparent;
    padding: 22px 20px 22px 0;
  }

  /* Heder end */

  /* Main */
  /* Enjoy section */
  .header-enjoy {
    color: var(--main-text);
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 60px 20px 28px 20px;
    max-width: 280px;
  }
  .header-enjoy-descr {
    max-width: 266px;
    flex-shrink: 0;
    color: var(--main-text);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-right: 34px;
    margin-bottom: 32px;
    margin-left: 20px;
  }
  .button-order-now {
    display: inline-flex;
    padding: 6px 18px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: var(--apple-green);
    border: none;
    width: 98px;
    color: #2c2c2c;
    text-align: right;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-left: 20px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .button-order-now:hover {
    background-color: var(--apple-yellow);
  }
  .apple-background {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .apple-picture {
    background-color: transparent;
  }
  .apple-mobile {
    max-width: 280px;
  }
  /* Special offer section start*/
  .offer-header {
    color: var(--main-text);
    font-family: Roboto;
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
    max-width: 280px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 28px;
  }
  .offer-p {
    color: var(--main-text);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 36px;
    flex-shrink: 0;
    font-style: normal;
  }
  .svg-rocket {
    fill: var(--light-green);
    margin-left: 27px;
  }
  .svg-hand {
    fill: var(--light-green);
  }
  .order-now-border { 
    color: var(--main-text);
    font-family: Roboto;
    font-size: 13px;
    font-weight: 500;
    line-height: 19.5px;
    padding: 10px 22px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 2px solid var(--light-green);
    background: var(--backgraund);
  }
  .read-more {
color: var(--black);
font-family: Roboto;
font-size: 13.667px;
font-weight: 400;
line-height: 20.5px; 
border: none;
background-color: var(--backgraund);
  }
.svg-arrow {
fill: var(--black);

}
.div-order-now {
}
.div-readmore {
}

}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .menu-button {
    display: none;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1440px) {
  .menu-button {
    display: none;
  }
}
